* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: 0;
	border: 0;
	text-decoration: 0;
	box-sizing: border-box;
	color: rgb(200, 200, 200);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #141414;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.interactable {
	user-select: none;
	cursor: pointer;
}

.transition {
	transition: transform 100ms linear 0s;
}

button {
	background-color: rgba(0, 0, 0, 0);
}

button span {
	pointer-events: none;
}

body {
	background-color: rgb(30, 30, 30);
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

h3 {
	font-weight: 500;
	font-size: .87rem;
}

header {
	display: flex;
	justify-content: space-between;
	height: 30px;
	margin: 20px 20px 0 20px;
	border-radius: 15px;
	background-color: rgb(20, 20, 20);
}

header div {
	display: flex;
	align-items: center;
}

header button {
	padding: 0 30px 0 30px;
	font-size: 16px;
}

body .container {
	display: grid;
	width: 98%;
	height: 50%;
	margin-left: 20px;
	gap: 1.8rem;
	grid-template-columns: 12rem auto;
}

aside {
	height: 100%;
}

aside .instrument-bar {
	display: flex;
	flex-direction: column;
	background-color: rgb(20, 20, 20);
	padding: 5px 0 5px 0;
	border-radius: 15px;
	height: 95%;
	position: relative;
	top: 20px;
	overflow-y: auto;
}

aside .instrument-bar div {
	display: flex;
	align-items: center;
	height: 32px;
	gap: .5rem;
	position: relative;
	margin-left: 2rem;
}

/* TODO fix container not scaling properly on Y */
.main-container {
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

.song-controls {
	position: relative;
	top: 20px;
	display: flex;
	justify-content: space-between;
	border-radius: 15px;
	margin-bottom: 20px;
	background-color: rgb(20, 20, 20);
	width: 100%;
	height: 50px;
}

.song-controls div {
	padding: 0 5px 0 5px;
}

.song-controls button {
	height: 24px;
	width: 24px;
}

.song-controls .bar-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 162px;
}

.song-controls .bar-center {
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.song-controls .bar-center button {
	margin: 0 5px 0 5px;
	border-radius: 5px;
}

.song-controls .bar-center .selected {
	background-color: rgb(75, 75, 75);
}

.song-controls .bar-right {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 162px;
}

#volume-bar {
	background-color: rgb(200, 200, 200);
	height: 3px;
	width: 60%;
	border-radius: 15px;
}

.timeline-container {
	display: grid;
	position: relative;
	top: 10px;
	background-color: rgb(20, 20, 20);
	width: 100%;
	height: 40px;
	border-radius: 15px;
	grid-template-columns: 40px auto 15px;
}

.tempo-container {
	width: 100%;
	height: 100%;
}

#tempo {
	padding-left: 10px;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
}

#timeline {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

#timeline::-webkit-scrollbar {
	height: 2px;
}

.playhead {
	position: absolute;
	background-color: rgb(200, 200, 200);
	height: 100%;
	width: 1px;
	z-index: 1;
	pointer-events: none;
}

.playhead .line {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.playhead .arrow {
	position: absolute;
	top: -10px;
	left: -11.5px;
	user-select: none;
	pointer-events: none;
}

.timeline-separator {
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: rgb(40, 40, 40);
	left: 20px;
	pointer-events: none;
}

.timeline-separator-note {
	background-color: rgb(60, 60, 60);
	font-size: 10px;
	user-select: none;
}

.timeline-separator-note div{
	padding-left: 2px;
	color: rgb(150, 150, 150);
}

#track-editor-container {
	position: relative;
	top: 20px;
	height: 85vh;
	padding-right: 15px;
	overflow-y: auto;
}

.track-editor {
	position: relative;
	/* display: grid; */
	border-radius: 15px;
	margin-bottom: 20px;
	background-color: rgb(20, 20, 20);
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.track-editor h3 {
	padding: 10px 0 0 10px;
}

.edit {
	height: 785px;
}

.track-editor-top {
	display: flex;
	align-items: center;
	height: 30px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.track-editor-top h3 {
	user-select: none;
}

.track-editor-top span {
	padding: 10px 0 0 10px;
	font-size: 1.2rem;
}

.track-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.edit .track-container {
	overflow-y: scroll;
}

.track {
	position: absolute;
	top: 0;
	height: 170px;
	width: 100%;
	left: 40px;
}

.note {
	position: absolute;
	background-color: rgb(143, 3, 143);
	height: 2px;
	width: 60px;
	border-radius: 5px;
}

.edit .note {
	height: 17px;
	border: 1px solid black;
}

.line-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 40px;
	pointer-events: none;
}

.vseparator {
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: rgb(40, 40, 40);
	left: 20px;
	opacity: 0;
	pointer-events: none;
}

.edit .vseparator {
	opacity: 1;
}

.hseparator {
	background: url("../img/piano_roll_stripes.png") 0 0 repeat;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
}

.edit .hseparator {
	opacity: .07;
}

.keys-container {
	position: sticky;
	left: 0;
	width: 40px;
	height: 100%;
	opacity: 0;
	z-index: 1;
}

.edit .keys-container {
	opacity: 1;
}

.key {
	background-color: rgb(200, 200, 200);
	width: 100%;
	height: 17px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid rgb(60, 60, 60);
	padding-left: 2px;
	font-size: 13px;
	color: rgb(20, 20, 20);
	user-select: none;
}

.black-key {
	background-color: rgb(70, 70, 70);
	color: rgb(200, 200, 200);
}