* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: 0;
	border: 0;
	text-decoration: 0;
	box-sizing: border-box;
	color: rgb(200, 200, 200);
}

body {
	background-image: url("../img/background.png");
	background-repeat: repeat;
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 90vh;
	width: 100vw;
}

h1 {
	margin-bottom: 20px;
}