* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: 0;
	border: 0;
	text-decoration: 0;
	box-sizing: border-box;
	color: rgb(200, 200, 200);
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-image: url("../img/background.png");
	background-repeat: repeat;
	background-attachment: fixed;
}

html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* NAVBAR */
 .topnav {
	background-color: #000000;
	overflow: hidden;
    position: fixed;
    width: 100%;
}
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-optical-sizing: auto;
	font-weight: 678;
	font-style: normal;
	
  }

  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }

  .topnav a.active {
	background-color: #26022a;
	color: white;
  }
  

  .topnav .icon {
	display: none;
  } 


  .menu_title{

    padding-top: 5%;
	text-align: center;
	font-size: 10vw;
	color: white;
	font-optical-sizing: auto;
	font-weight: 678;
	font-style: normal;

}


  .paragraph{

	margin: 3%;
    margin-right: 5%;
    display: flex;
  }

  .paragraph img{
	box-shadow: 0vw 0.5vw 1vw 1vw #606060;
    margin: 2%;
	width: 40vw;
	height: auto;
	border-radius: 1vw;
	border-color: whitesmoke;
	border-width: 0.2vw;
	border-style:solid;
	transition: transform .8s; 

  }

  .paragraph img:hover{
  
	transform: scale(1.1);
}

  .paragraph p{
	font-size: 3vw;
	padding-top: 3%;
	color: white;
	font-optical-sizing: auto;
	font-weight: 678;
	font-style: normal;
    
  }

  .img-left{
	float: left;
  }

  .img.right{
	float: right;
  }
