* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: 0;
	border: 0;
	text-decoration: 0;
	box-sizing: border-box;
	color: rgb(200, 200, 200);
}

body {
	background-image: url("../img/background.png");
	background-repeat: repeat;
	overflow-x: hidden;
	overflow-y: hidden;
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 50px auto;
}

.header {
	position: relative;
}

.header .logo {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding-top: 5px;
}

.header .logo img {
	height: 100%;
}

.header .login-container {
	background-color: rgb(20, 20, 20);
	position: absolute;
	top: 0;
	right: 0;
	height: 80%;
	width: fit-content;
	text-align: right;
	font-size: 15px;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	/* background-color: blue; */
}

.center {
	display: grid;
	background-color: rgb(20, 20, 20);
	width: 80vw;
	height: 80vh;
	border-radius: 30px;
	padding: 20px;
	grid-template-rows: 40px ;
}

.center .top {
	font-size: 25px;
}

.user-music {
	overflow: hidden;
}

.music-container {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	width: fit-content;
	height: 90%;
}

.music-card {
	background-color: rgb(30, 30, 30);
	width: 150px;
	height: 70%;
	text-align: center;
	padding: 1%;
	user-select: none;
	cursor: pointer;
}

/* .logo{

	display: flex;
	justify-content: center;
	margin-top: 2%;

}

.logo img{
	width: 50%;
	height: auto;
}   

ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background-color: #222222;
}

li {
float: left;
}

.items{
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom:  8px;
	padding-right: 16px;
}
li a {
	text-decoration: none;
	display: block;
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-style: bold;
	color: aliceblue;
}


li a:hover{
	background-color: #0e0e0e;
}

.div_login{
	position: absolute;
	display: flex;
	justify-content: right; */

/* } */

