* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: 0;
	border: 0;
	text-decoration: 0;
	box-sizing: border-box;
	color: rgb(200, 200, 200);
	font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
	background: rgb(136, 136, 136);
}

.interactable {
	user-select: none;
	cursor: pointer;
}

body {
	background-image: url("../img/background.png");
	background-repeat: repeat;
	overflow-x: hidden;
	overflow-y: hidden;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
}

.header img {
	height: 100%;
	margin-left: 2%;
	padding-top: 5px;
}

.logout {
	margin-right: 2%;
	background-color: rgb(20, 20, 20);
	border-radius: 15px;
	padding: 5px 15px;
	font-size: 19px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100vw;
	height: calc(100vh - 60px);
}

.main {
	background-color: rgb(20, 20, 20);
	width: 60%;
	height: 85%;
	border-radius: 15px;
	padding: 15px;
}

.user-latest {
	height: 46%;
	margin-top: 10px;
}

.song-container {
	height: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.song {
	display: flex;
	justify-content: space-between;
	background-color: rgb(30, 30, 30);
	padding: 10px;
	border-radius: 15px;
}

.left {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.left div {
	display: flex;
	align-items: center;
}

.left p {
	margin-left: 5px;
}

.global-latest {
	height: 46%;
	margin-top: 10px;
}

.updates {
	background-color: rgb(20, 20, 20);
	width: 20%;
	height: 85%;
	border-radius: 15px;
	padding: 15px;
}

.scroll-container {
	width: 101%;
	padding-right: 1%;
	height: calc(100% - 28px);
	overflow-y: scroll;
}

.log {
	margin-top: 10px;
}

.unactive {
	color: rgb(20, 20, 20);
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top button {
	background-color: rgb(30, 30, 30);
	text-align: center;
	height: 25px;
	padding: 5px;
	border-radius: 15px;
}

img,
.rating-container,
.rating-container span {
	user-select: none;
}